Microsoft.Flow/flows/e61b4987-25d2-4d5c-8777-3d3f0399c354/definition.json
{"name":"b7d5f7e2-59ba-4d07-9a02-065514193fbd","id":"/providers/Microsoft.Flow/flows/b7d5f7e2-59ba-4d07-9a02-065514193fbd","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"gestion pc Iris","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b93d6a39-ebed-45fb-b43e-4c3a5dd61931","type":"User","tenantId":"988e044b-51ea-4a1b-9bad-53e86bbb4bf8"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-16T11:47:43.6279791Z","connectionKeySavedTimeKey":"2024-04-16T11:47:43.6279791Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Lorsqu’un_élément_est_créé_ou_modifié":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"ae78ea35-cc85-4bab-bff4-45ad17d0bb1c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://seabird27.sharepoint.com/sites/Pret","table":"446901d5-402a-436d-bb97-4006b8d14032"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialiser_la_variable":{"runAfter":{},"metadata":{"operationMetadataId":"8d9b6f38-3f74-478d-9252-80fc116cb05e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"test","type":"string"}]}},"Condition":{"actions":{"Envoyer_un_e-mail_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"730bde04-51d9-476a-9e78-519702297649"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"msoumare@seabirdconseil.com","emailMessage/Subject":"test","emailMessage/Body":"<p>test pc reussi</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialiser_la_variable":["Succeeded"]},"else":{"actions":{"Envoyer_un_e-mail_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"34a1643c-f759-4a39-aa99-30592d5e4d7d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"msoumare@seabirdconseil.com","emailMessage/Subject":"test","emailMessage/Body":"<p>test v2</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/util/Claims']","@null"]},"metadata":{"operationMetadataId":"921cb7b7-8079-43ca-bce0-2658a7addb9f"},"type":"If"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-45ff42c1-fb72-494d-a143-9a2391cae55e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-f85a8ec0-433c-4bde-97a4-8f93505d4244","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}